[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
pytest = "*"
pydantic = "*"
psycopg2 = "*"
python-dotenv = "*"
python-multipart = "*"
python-jose = "*"
passlib = "*"
bcrypt = "*"
celery = "~=4.4.2"
redis = "~=3.5.2"

[dev-packages]

[requires]
python_version = "3.8"
